.carBooking {
	display: grid;

	width: 100%;
	height: fit-content;
	padding: 40px 0;

	border-radius: 20px;
	background: var(--white);
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	justify-items: center;
	gap: 20px;
}

.car_price {
	margin-top: 10px;

	color: var(--primary);
}

.car_counter {
	color: var(--darkLight);

	font-family: 500;
}

@media (max-width: 1024px) {
	.carBooking {
		padding: 30px 0;
	}
}

@media (max-width: 580px) {
	.carBooking {
		padding: 20px 0;

		border-radius: 15px;
	}
}

@media (max-width: 300px) {
	.carBooking {
		height: 150px;

		border-radius: 10px;
	}
}
