.slider {
	z-index: 1;

	width: 100%;

	height: fit-content;

	border-radius: 20px;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

@media (max-width: 580px) {
	.slider {
		border-radius: 15px;
	}
}

@media (max-width: 300px) {
	.slider {
		border-radius: 10px;
	}
}
