.input {
	width: calc(80% - 30px);
	height: fit-content;
	padding: 15px 15px;

	transition-duration: 300ms;

	color: var(--primary);
	border: 2px solid var(--light);
	border-radius: 10px;
	outline: none;
	background: var(--white);

	font-size: 18px;
	font-weight: 700;
}

.input:active,
.input:hover,
.input:focus {
	border-color: var(--primary);
}

.error_input,
.error_input:hover,
.error_input:focus {
	border-color: var(--error);
}

.search {
	width: 30%;
	height: fit-content;
	margin-left: 20px;
	padding: 7px 12px;

	transition-duration: 300ms;

	border-radius: 10px;

	font-size: 16px;
	font-weight: 600;
}

.search::placeholder {
	color: var(--darkLight);
}

.search::-ms-input-placeholder { /* Edge 12 -18 */
	color: var(--darkLight);
}

@media (max-width: 580px) {
	.input {
		width: calc(90% - 20px);
		padding: 10px 10px;

		border-radius: 7px;

		font-size: 14px;
	}

	.search {
		width: 70%;
		margin-left: 10px;
		padding: 5px 10px;

		transition-duration: 300ms;

		border-radius: 7px;

		font-size: 14px;
	}
}
