.input {
	width: calc(80% - 30px);
	height: fit-content;
	padding: 16.6px 15px;

	cursor: text;

	transition-duration: 300ms;

	color: var(--primary);
	border: 2px solid var(--light);
	border-radius: 10px;
	outline: none;
	background: var(--white);

	font-size: 18px;
	font-weight: 700;
}

.inputDiv {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 80%;
	height: fit-content;
	height: 54px;
	padding: 0 !important;

	color: var(--darkLight);
}

.locationInput {
	width: calc(80% - 33.2px);
	padding: 0 16.6px !important;

	cursor: pointer;
}

.activeInput {
	color: var(--primary);
}

.inputDate {
	width: 87%;
	height: auto !important;

	border: none;
}

.inputTime {
	width: 92%;
}

.input:active,
.input:hover,
.input:focus,
.inputDiv:active,
.inputDiv:hover,
.inputDiv:focus {
	border-color: var(--primary);
}

.error_input,
.error_input:hover,
.error_input:focus {
	border-color: var(--error);
}

.search {
	width: 30%;
	margin-left: 10px;
	padding: 7px 12px;

	transition-duration: 300ms;

	border-radius: 10px;

	font-size: 16px;
	font-weight: 600;
}

.input::placeholder {
	color: var(--darkLight);
}

.input::-ms-input-placeholder {
	color: var(--darkLight);
}

@media (max-width: 1024px) {
	.search {
		width: 40%;
	}
}

@media (max-width: 800px) {
	.search {
		width: 50%;
	}
}

@media (max-width: 580px) {
	.input {
		width: calc(90% - 20px);
		padding: 11.6px 10px;

		border-radius: 7px;

		font-size: 14px;
	}

	.inputDiv {
		width: 90%;
		height: 40px;
	}

	.locationInput {
		width: calc(90% - 23.2px);
		padding: 0 11.6px !important;
	}

	.inputDate {
		width: 84%;
	}

	.inputTime {
		width: 90%;
	}

	.search {
		width: calc(100% - 20px);
		grid-area: search;

		margin: 0;
		padding: 5px 10px;

		transition-duration: 300ms;

		border-radius: 7px;

		font-size: 14px;
	}
}
