.carInfoItem {
	display: grid;
	align-items: center;

	width: fit-content;
	grid-template-columns: 1fr auto;
	gap: 10px;
}

.item {
	color: var(--darkLight);

	font-weight: 500;
}

.value {
	color: var(--primary);
}

.active {
	cursor: pointer;
	transition-duration: 300ms;
}

.active:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--dark);
}

@media (min-width: 1024px) {
	.active:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--dark);
	}
}
