.imageBlock {
	display: grid;
	overflow: hidden;

	width: 100%;
	height: fit-content;

	border-radius: 20px;
	background: var(--primary);
}

.img {
	width: 100%;
	height: fit-content;
	object-fit: cover;
	object-position: center;

	user-select: none;
}

@media (max-width: 580px) {
	.imageBlock {
		border-radius: 15px;
	}
}

@media (max-width: 300px) {
	.imageBlock {
		border-radius: 10px;
	}
}
