.filtersBlock {
	position: fixed;
	z-index: 2;

	display: grid;

	width: 100%;

	border-radius: 0 0 20px 20px;
	background: var(--white);
	justify-items: center;
	box-shadow: 0 20px 13px rgb(0 0 0 / 0.03), 0 8px 5px rgb(0 0 0 / 0.08);
}

@media (max-width: 580px) {
	.filtersBlock {
		border-radius: 15px;
	}
}

@media (max-width: 300px) {
	.filtersBlock {
		border-radius: 10px;
	}
}
