.carItem {
	position: relative;

	display: grid;
	overflow: hidden;

	width: 100%;
	height: fit-content;
	padding: 5px;
	padding-bottom: 20px;

	cursor: pointer;
	transition-duration: 300ms;

	border-radius: 20px;
	background: var(--white);
	gap: 20px;
	box-shadow: 0 20px 13px rgb(0 0 0 / 0.03), 0 8px 5px rgb(0 0 0 / 0.08);
}

.carItem:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	box-shadow: 0 20px 13px rgb(0 0 0 / 0.07), 0 8px 5px rgb(0 0 0 / 0.015);
}

.carHit {
	border: 3px solid var(--primary);
}

.hitBox {
	position: absolute;

	display: grid;

	width: fit-content;
	height: auto;
	padding: 10px 30px;

	border-radius: 0 0 20px 0;
	background: var(--primary);
}

.hitBox > h1 {
	color: var(--white) !important;
}

.imageBlock {
	display: grid;
	overflow: hidden;

	width: 100%;
	height: 250px;

	border-radius: 15px;
}

.img {
	width: 100%;
	height: fit-content;

	user-select: none;

	border-radius: 15px;
	object-fit: cover;
	object-position: center;
}

.carInfoBlock {
	display: grid;

	margin-left: 12px;
	gap: 10px;
}

.carInfoBlock > h1 {
	color: var(--dark);
}

.name {
	color: var(--primary) !important;

	font-weight: 700;
}

.carsAvailable {
	margin-top: 10px;

	color: var(--darkLight) !important;
}

.outOfStock {
	margin-top: 10px;

	color: var(--error) !important;
}

@media (min-width: 1024px) {
	.carItem:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		box-shadow: 0 20px 13px rgb(0 0 0 / 0.07), 0 8px 5px rgb(0 0 0 / 0.15);
	}
}

@media (max-width: 2000px) {
	.imageBlock {
		height: 220px;
	}
}

@media (max-width: 1800px) {
	.imageBlock {
		height: 200px;
	}
}

@media (max-width: 1600px) {
	.imageBlock {
		height: 170px;
	}
}

@media (max-width: 1400px) {
	.imageBlock {
		height: 200px;
	}
}

@media (max-width: 1200px) {
	.imageBlock {
		height: 170px;
	}
}

@media (max-width: 1024px) {
	.imageBlock {
		height: 250px;
	}

	.carHit {
		border: 2px solid var(--primary);
	}

	.hitBox {
		padding: 7px 25px;
	}
}

@media (max-width: 900px) {
	.imageBlock {
		height: 200px;
	}
}

@media (max-width: 700px) {
	.imageBlock {
		height: 150px;
	}
}

@media (max-width: 580px) {
	.carItem {
		padding: 3px;
		padding-bottom: 10px;

		border-radius: 15px;
		gap: 10px;
	}

	.hitBox {
		padding: 5px 20px;

		border-radius: 0 0 15px 0;
	}

	.imageBlock {
		height: 250px;

		border-radius: 10px;
	}

	.img {
		border-radius: 10px;
	}

	.carInfoBlock {
		gap: 5px;
	}
}

@media (max-width: 400px) {
	.imageBlock {
		height: 200px;
	}
}

@media (max-width: 300px) {
	.carItem {
		border-radius: 10px;
	}

	.hitBox {
		border-radius: 0 0 10px 0;
	}

	.imageBlock {
		height: 150px;

		border-radius: 7px;
	}

	.img {
		border-radius: 7px;
	}
}

@media (max-width: 200px) {
	.imageBlock {
		height: 100px;
	}
}

@media (max-width: 150px) {
	.imageBlock {
		height: 70px;
	}
}

@media (max-width: 100px) {
	.imageBlock {
		height: 50px;
	}
}
