.imageBlock {
	position: relative;

	display: grid;

	width: 100%;
	height: max-content;
}

.img {
	width: 100%;
	height: fit-content;

	user-select: none;

	border-radius: 15px;
	object-fit: cover;
	object-position: center;
}

.mainImgDiv {
	width: 100%;
	justify-self: center;

	display: grid;
	justify-items: center;
	gap: 10px;
	margin-top: 100px;
}

.mainImgDiv > h1 {
	color: var(--darkLight);

	font-weight: 900;
	max-width: 90%;
	text-align: center;
}

.mainImgText {
	color: var(--primary) !important;
}

@media (max-width: 580px) {
	.img {
		border-radius: 10px;
	}
}

@media (max-width: 300px) {
	.img {
		border-radius: 7px;
	}
}
