.byBlock {
	display: grid;
	align-items: center;
	align-self: end;
	justify-items: center;

	height: fit-content;
}

.bySeparatrix {
	transition-duration: 300ms;

	color: var(--darkLight);
}

.darkColor {
	color: var(--white);
}

.bySeparatrix:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

@media (min-width: 1024px) {
	.bySeparatrix:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}
