.header {
	position: fixed;
	z-index: 3;

	display: grid;
	align-items: center;

	width: calc(100% - 160px);
	height: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: auto;
	padding: 10px 80px;

	border-radius: 0 0 20px 20px;
	background: var(--white);
	grid-template-columns: auto 1fr auto;
	grid-template-areas: ". headerBlock .";
	box-shadow: 0 20px 13px rgb(0 0 0 / 0.03), 0 8px 5px rgb(0 0 0 / 0.08);
	gap: 20px;
}

.linksDiv {
	display: grid;
	align-items: center;

	width: 100%;
	grid-template-columns: auto auto auto 1fr !important;
	gap: 20px;
	grid-area: headerBlock;
}

.logo {
	margin-right: 10px;

	transition-duration: 300ms;
}

.logo > svg {
	width: 40px;
}

.buttonsDiv {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
	justify-self: right !important;
}

.hidden {
	display: none !important;
}

@media (min-width: 1024px) {
	.fixed {
		border-radius: 0 !important;
	}
}

@media (min-width: 1024px) {
	.logo:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.header {
		width: calc(100% - 80px);
		padding: 15px 40px;
		gap: 0 !important;
		grid-template-columns: 1fr auto;
		grid-template-areas:
			". ."
			"headerBlock headerBlock";
	}

	.linksDiv {
		grid-template-columns: auto !important;
		grid-template-rows: auto auto auto;

		justify-self: left;
		justify-items: left;
		gap: 15px !important;
	}

	.buttonsDiv {
		display: grid;

		margin-top: 5px;
		padding-top: 20px;

		border-top: 1px solid var(--light);
		gap: 10px;
		justify-self: left !important;
	}

	.logo > svg {
		width: 35px;
	}
}

@media (max-width: 580px) {
	.header {
		width: calc(100% - 40px);
		padding: 7px 20px;

		border-radius: 0 0 15px 15px;
		gap: 15px;
	}

	.linksDiv {
		gap: 20px !important;
	}

	.buttonsDiv {
		padding-top: 25px;
	}

	.logo > svg {
		width: 30px;
	}
}

@media (max-width: 300px) {
	.header {
		border-radius: 0 0 10px 10px;
	}
}
