.sortingBar {
	display: grid;
	align-items: center;

	width: 80%;
	height: fit-content;
	margin-bottom: 30px;
	grid-template-columns: auto auto 1fr;
	gap: 20px;
}

.sortingDiv {
	display: grid;
	align-items: center;

	cursor: pointer;
	user-select: none;
	transition-duration: 300ms;
	grid-template-columns: auto 1fr;
	gap: 10px;
}

.sortingDiv > h1 {
	color: var(--darkLight);
}

.sortingDiv:active > h1 {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

.sortIcon > svg {
	width: 12px;

	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--primary);
	transition-duration: 300ms;
}

.sortLow > svg {
	transform: scale(1, -1);
}

.location {
	cursor: pointer;
	transition-duration: 300ms;

	color: var(--primary);
}

.location:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@media (min-width: 1024px) {
	.sortingDiv:hover > h1 {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}

	.location:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.sortingBar {
		width: 85%;
	}
}

@media (max-width: 580px) {
	.sortingBar {
		width: 90%;
		margin-bottom: 20px;
		grid-template-columns: auto 1fr;
		justify-items: left;
		grid-template-areas:
			". ."
			"search search";
	}

	.sortIcon > svg {
		width: 10px;
	}
}
