.filterItem {
	display: inline-block;

	width: fit-content;
	padding: 10px 20px;

	cursor: pointer;
	transition-duration: 300ms;
	text-align: center;

	border-radius: 15px;
	background: var(--white);

	box-shadow: 0 8px 5px rgb(0 0 0 / 0.08);
}

.filterItem > h1 {
	transition-duration: 300ms;

	color: var(--darkLight);

	font-weight: 700;
}

.filterItem:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	box-shadow: 0 8px 5px rgb(0 0 0 / 0.15);
}

.filterActive {
	background: var(--primary);
}

.filterActive > h1 {
	color: var(--white) !important;
}

.filterItem:active > h1 {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

.filterCancel {
	margin-left: 10px;
}

@media (min-width: 1024px) {
	.filterItem:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		box-shadow: 0 8px 5px rgb(0 0 0 / 0.15);
	}

	.filterItem:hover > h1 {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}
