.carsDiv {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	width: 80%;
	gap: 30px;
	justify-items: center;
}

.emptyText {
	margin-top: 20px !important;

	color: var(--primary) !important;
}

@media (max-width: 1024px) {
	.carsDiv {
		grid-template-columns: repeat(2, auto);
	}
}

@media (max-width: 580px) {
	.carsDiv {
		grid-template-columns: auto;
	}
}
