.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
}

.mainDiv,
.startFilterDiv {
	position: relative;

	display: grid;

	width: 100%;
	justify-items: center;
}

.hitOffersTitle {
	margin-top: 40px !important;
	margin-left: 10% !important;

	color: var(--primary) !important;
	justify-self: left;
}

@media (max-width: 1024px) {
	.hitOffersTitle {
		margin-left: calc(15% / 2) !important;
	}
}

@media (max-width: 580px) {
	.hitOffersTitle {
		margin-top: 20px !important;
		margin-left: 5% !important;
	}
}
